<a href="https://colab.research.google.com/github/thooks630/DSCI_210_R_notebooks/blob/main/Module_9_Table_joins_with_dplyr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 9 - Table joins with `dplyr`

##Example: Recall the `students` and `courses` data sets from Activity 9.2.

In [ ]:
students <- read.csv('https://github.com/thooks630/DSCI_210_R_notebooks/raw/main/data/Students.csv')
students

courses <- read.csv('https://github.com/thooks630/DSCI_210_R_notebooks/raw/main/data/Courses.csv')
courses

##Let's discuss using the `dplyr` package for table joins.

In [ ]:
library(dplyr)

## We can join the tables using an *inner join* as follows:

In [ ]:
inner_join(students, courses, by = 'ID')

##Next, let's join the tables using a *full join*:

In [ ]:
full_join(students, courses, by = 'ID')

##Finally, let's look at both a *left join*...

In [ ]:
left_join(students, courses, by = 'ID')

##... and then a *right join* **bold text**

In [ ]:
right_join(students, courses, by = 'ID')

## <font color="red"> OPTIONAL ACIVITY: Complete Problem 2 from Activity 9.2 using `dplyr` functions.

In [ ]:
batting <- read.csv('https://github.com/thooks630/DSCI_210_R_notebooks/raw/main/data/Batting.csv')
head(batting)

teams <- read.csv('https://github.com/thooks630/DSCI_210_R_notebooks/raw/main/data/Teams.csv')
head(teams)

people <- read.csv('https://github.com/thooks630/DSCI_210_R_notebooks/raw/main/data/People.csv')
head(people)

*Hint*: To join using a left join by two variables, use `left_join(Table1, Table2, by = c('Var1','Var2'))`.

In [ ]:
## Your code here